body {
    margin : 0px;
    padding : 0px;
}

#topDiv {
    height : 80px;
    overflow-y: scroll;
}

#logger {
    background-color : #282c34;
    width  : 100%;
    overflow-y: scroll;
    position : absolute;
    top : 80px;
    bottom : 0px;
}

#console {
    color : white;
    font-family: sans-serif;
}

pre {
    margin-top : 0px;
    margin-bottom: 0px;
}
